<!doctype html> 
<html lang = "en">  
<head><meta charset = "utf-8"><title>Add Password</title></head>   

<body>
  <h1>Add Password</h1>

  <form method="POST" action="{{ url_for('views.add_secret') }}">  
    {{ csrf_token() }}  

    <div><label>Application (Label): <input name = "label" required></label></div><br>   

    <div><label>Login Username: <input name = "site_username" required></label></div><br>  

    <div><label>Password: <input name = "password" required></label></div><br>  
    
    <button type = "submit">Save</button>   
  </form>  

  <p><a href = "{{ url_for('views.vault') }}">← Back to vault</a></p>    

</body>
</html>
